<div class="card text-center" id="dropHeader">
  <div class="card-header">
    Welcome back "Insert User"
  </div>
  <div class="card-body">
    <h5 class="card-title">Click the button to go your maps</h5>
    <p class="card-text">Know where you've been, know where you're going</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    Last Visit
  </div>
</div>
