<nav>
  <ul>
    <li class="active">
      <a href="#">
        <i class="fa fa-home"></i> 
        Home
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-wordpress"></i> 
        Blog
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-shield"></i> 
        About
      </a>
    </li>
    <li class="right">
      <a href="#">
        <i class="fa fa-user"></i> 
        User
      </a>
    </li>
    <li class="right">
      <a href="#">
        <i class="fa fa-search"></i> 
      </a>
    </li>
  </ul>
</nav>
