
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button id="loginButton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
  <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-compass" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15.016a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13zm0 1a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15z"/>
    <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H7a1 1 0 0 1-1-1zm.94 6.44l4.95-2.83-2.83 4.95-4.95 2.83 2.83-4.95z"/>
  </svg>
  </div>
  <a class="navbar-brand" href="#">Vancouver Maps Collection</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <form class="form-inline my-2 my-lg-0" id = "homeButton" action ="/" method="GET">
          <div class=" gradient-buttons">
          <button class="btn btn-outline-secondary my-2 my-sm-0 mr-2" type="submit">Home</button>
          </div>
        </form>
        <!-- <a class="nav-link" id = "homeButton" href="/">Home<span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item active">


        <%if(loginVar){%>
        <form class="form-inline my-2 my-lg-0" id = "profilePage" action ="/profile" method="GET">
          <div class=" gradient-buttons">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Profile</button>
        </div>
        </form>
        <%}%>
      </li>
    </ul>
    <%if(loginVar){%>
      <span class="pr-2" id="nameDisplay"><%=loginVar%></span>
      <form class="form-inline my-2 my-lg-0" id = "logout" action ="/logout" method="POST">
        <div class="gradient-buttons">
        <button class="btn btn-outline-secondary gradient-buttons my-2 my-sm-0" type="submit">Logout</button>
        </div>
      </form>
    <%} else {%>
    <form class="form-inline my-2 my-lg-0" id = "login" action ="/login" method="POST">
      <input class="form-control mr-sm-2" id="usernameField" type="search" placeholder="Username" aria-label="Search" name="user">
      <div class=" gradient-buttons">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Login</button>
      </div>
    </form>
    <%}%>
  </div>
</nav>
