<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <!-- font awesome link Adds icons to navbar-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  </head>

  <body>
    <%- include('partials/_navbar') %>
  <div class="container-fluid">
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">Create A New Map</h5>
        <p class="card-text">Pin your favorite locations on your own custom map</p>
        <form class="form-inline my-2 my-lg-0" id = "CreatePage" action ="/edit" method="GET">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create</button>
        </form>
      </div>
    </div>

  <h1>USER Container Below</h1>
  <main>
  <section class="container-client">
      <header class="header">
        <h3>User Name</h3>
        <h3>Map Name</h3>

      </header>
        <p>map photo or icon</p>
          <div>
            <h5>Favorite Maps</h5>
            <ul>
              <li>Link 1</li>
              <li>Link 2</li>
              <li>link 3</li>
            </ol>
          </div>
          <div>
            <h5>My Map Creations</h5>
            <ul>
              <li>Link 1</li>
              <li>Link 2</li>
              <li>link 3</li>
            </ol>
          </div>
      <hr>

      <footer>
        <button type="button" onclick="location.href='http://localhost:8080/';" class="btn btn-primary">
          Favorite <span class="badge badge-light">4</span>
        </button>

      </footer>
    </section>
  </main>
  <h2>Color Test</h2>
  </div>

  </body>
</html>
