@import 'partials/_variables';

.container-client {
  display: flex;
  background: $background-light;
  flex-direction: column;
  border: solid;
  border-radius: 15px;
  border-color: #A66E28;
  padding: 10px;
 }
.container-client{
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  hr {
    border-top: solid 5px;
    width: 99%;
  }
}
// .container-client header {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }

// .container-client hr {
//   border-top: solid 5px;
//   width: 99%;
// }
