@import 'partials/_profile';
@import 'partials/_search';
@import 'partials/_variables';

body {

  h1 {
    color: $border-brown;
  }
  h2 {
    color: $background-grey;
  }

}

#map {
  height: 400px;
}
.editMappinText{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 8px;
}
#editMapFoot{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
}

#titleDes{
  text-align: center;
}

#mapDesDis{
  text-align: center;
  // border-style: dashed;
}
.buttonDivHome{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
// #nameDisplay {
//   padding-right: 10px;
// }
.card:hover {
  box-shadow: 4px 4px 11px rgba(22, 40, 59, 0.267);

}
.card-body {
  background: linear-gradient(185deg, #86c9fc49, #fcbe6e33);

}

.edit-header{
  height: 30px;
  margin-bottom: 16px;
}
button.GoToMap{
  margin-bottom: 5px;
  width: 75px;
}

button.like{
  margin-bottom: 5px;
  width: 75px;
}
