// See: https://sass-lang.com/
//@import "partials/_cards"

body {

  //background-color: #EEE;
  h1 {
    color: rebeccapurple;
  }
}
#map {
  height: 600px;

}

#dropHeader {
  display: none;
}
#profileLink {
  display: none;
}
