@import 'partials/_profile';
@import 'partials/_search';
@import 'partials/_variables';

body {

  h1 {
    color: $border-brown;
  }
  h2 {
    color: $background-grey;
  }
}

#map {
  height: 400px;

}
.editMappinText{
  display:flex;
  justify-content: space-between;
  flex-direction: row;

}
#editMapFoot{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
}
#titleDes{
  text-align: center;
}
#mapDesDis{
  text-align: center;
}
// #nameDisplay {
//   padding-right: 10px;
// }
